@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   width: 100%;
   overflow-x: hidden;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(-30deg, #6d53ff, #0ae2ff);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.post-maker {
   background-color: cornsilk;
   position: relative;
   z-index: 1;
   width: 70vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 20px;
   padding: 15px;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.2), -1px 2px 3px 1px rgba(0,0,0,0.2);
}

.app-title {
   font-family: 'Courgette', cursive;
   text-align: center;
   font-size: 50px;
}

.app-description {
   text-align: center;
   padding: 12px 20px;
}

.post-form {
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   display: none;
   pointer-events: none;
}

.post-form input {
   width: 100%;
   margin: 10px 0;
   padding: 5px 10px;
}

#caption {
   height: 100px;
   width: 100%;
   margin: 15px 0;
   padding: 10px;
   resize: none;
}

.post-btn-submit, .post-btn-create {
   width: 100%;
   color: white;
   font-size: 17px;
   font-weight: 500;
   background-color: green;
   border: 1px solid black;
   border-radius: 5px;
   padding: 3px;
   cursor: pointer;
}

.post-btn-create {
   margin: 10px 0;
   display: none;
   pointer-events: none;
   justify-content: center;
}

.post-btn-submit:hover, .post-btn-create:hover {
   background-color: rgb(104, 207, 0);
}

.posts-container {
   position: relative;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   width: 60vw;
}

post-template {
   width: 100%;
   display: flex;
   justify-content: center;
}

@keyframes deleted {
   20% {
      transform: scale(0.7);
   }
   100% {
      transform: translateX(100%) scale(0.65);
      opacity: 0;
   }
   
}

.popup-bg {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.7);
   pointer-events: none;
   display: none;
}

.popup-edit, .popup-warning {
   background-color: cornsilk;
   position: relative;
   z-index: 3;
   width: 70vw;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin: 20px;
   padding: 15px;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.2), -1px 2px 3px 1px rgba(0,0,0,0.2);
   pointer-events: none;
   display: none;
}

.edit-form {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.popup-btn-close {
   transform: rotate(45deg);
   align-self: flex-end;
   position: relative;
   color: red;
   line-height: 20px;
   cursor: pointer;
}

.edit-form h2 {
   line-height: 25px;
}

.edit-form input {
   width: 100%;
   margin: 10px 0;
   padding: 5px 10px;
}

#edit-caption {
   height: 100px;
   width: 100%;
   margin: 15px 0;
   padding: 10px;
   resize: none;
}

.popup-btn-edit {
   width: 100%;
   color: white;
   font-size: 17px;
   font-weight: 500;
   background-color: green;
   border: 1px solid black;
   border-radius: 5px;
   padding: 3px;
   cursor: pointer;
}

.popup-btn-edit:hover {
   background-color: rgb(104, 207, 0);
}

.popup-warning {
   width: auto;
   padding: 30px;
   text-align: center;
}

.warning-logo {
   height: 300px;
   width: 300px;
   border-radius: 50%;
   border-color: red;
   border-style: solid;
   border-width: 10px;
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup-warning h1 {
   font-size: 25px;
   line-height: 25px;
}

.popup-warning p {
   font-size: 16px;
}

.warning-logo h1 {
   color: red;
   font-size: 200px;
}

.popup-warning-controls {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.popup-warning-controls button {
   color: white;
   width: 135px;
   font-size: 17px;
   font-weight: 500;
   margin: 15px 15px 0 15px;
   padding: 3px;
   cursor: pointer;
   border: 1px solid black;
   border-radius: 5px;
}

.popup-btn-yes {
   background-color: blue;
}

.popup-btn-yes:hover {
   background-color: rgb(37, 157, 255);
}

.popup-btn-cancel {
   background-color: red;
}

.popup-btn-cancel:hover {
   background-color: rgb(250, 74, 74);
}

.popup-active, .post-form-active {
   pointer-events: auto;
   display: flex;
}

@media screen and (max-width: 768px) {

   .post-maker {
      width: 95vw;
   }

   .popup-edit {
      width: 95vw;
   }

   .posts-container {
      width: 95vw;
   }

   post-template {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .warning-logo {
      height: 200px;
      width: 200px;
   }

   .popup-warning h1 {
      font-size: 22px;
      line-height: 22px;
   }
   
   .popup-warning p {
      font-size: 13px;
      line-height: 15px;
   }
   
   .warning-logo h1 {
      font-size: 150px;
   }
   
}

@media screen and (min-width: 1440px) {

   .post-maker {
      width: 1000px;
   }

   .popup-edit {
      width: 1000px;
   }

   .posts-container {
      width: 1000px;
   }

   post-template {
      width: 875px;
   }
   
}